@{
    ViewData["Title"] = "Tables";
}

<body>
<div class="main-container">
    <div class="tables-container">
        <ul class="flex-grow-1 col-2">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Questions" asp-action="Index">Questions</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="QuestionTypes" asp-action="Index">Question Types</a>
            </li>
        </ul>
    </div>


</div>
</body>