@model QuizMVC.Models.Quiz.QuestionType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete confirmation</h1>

<h3>Are you sure you want to delete question type <strong>@Model.Type?</strong></h3>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete"/>
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}


